@appbar-height:               50px;
@border-radius-base:          .3em;

@keystone-blue:           #1385e5;

@app-primary:             @keystone-blue;

@app-danger:              #d64242;
@app-info:                #0090e0;
@app-success:             #34c240;
@app-warning:             #fa9f47;
