.bg{
  .fullscreen(0);

  background-size: cover;

  .transition(opacity .6s ease-in-out);

  opacity: .5;
}

.bg-gradient{
  .fullscreen(0);

  overflow:hidden;
  z-index:2;

  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
}
