.bg{
  .fullscreen(0);

  background-size: cover;

  .transition(opacity .6s ease-in-out);

  &.gradient{
    opacity: .5;
  }
}

.bg-gradient{
  .fullscreen(0);

  overflow:hidden;
  z-index:2;

  &.left{
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
  }
  &.right{
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
  }
}
