
.slide {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.slideItem {
  .fullscreen(0);

  background-color: white;

  padding: 10px;


  .transition(all .5s)
}

.slideGroup {
  .fullscreen(@appbar-height);
}
